<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>member</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="nav">
            <div class="p">歡迎光臨，這是會員頁</div>
        </div>
        <div class="p2con">
            <div class="p2">{{ signin_name }}，歡迎登入系統</div>
        </div>
        <form action="/signout">
            <button>登出系統</button>
        </form>
        <!-- 查詢功能 -->
        <div class="p3">查詢會員姓名</div>
        <div class="search_username">
            <input type="text" class="search_username" />
            <button class="search_username">查詢</button>
        </div>
        <div class="search_username_result"></div>
        <!-- 更新功能 -->
        <div class="p3">更新我的姓名</div>
        <div class="update_name">
            <input type="text" class="update_name" />
            <button class="update_name">更新</button>
        </div>
        <div class="update_name_result"></div>
    </body>
    <script src="/static/javascript/member.js"></script>
</html>
