<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>error</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <div class="nav">
            <div class="p">失敗頁面</div>
        </div>
        <div class="p2con">
            <div class="p2">{{ error_message }}</div>
        </div>
        <form action="/" method="POST">
            <button>返回首頁</button>
        </form>
    </body>
</html>
