* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

nav p {
  font-weight: bolder;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  color: black;
  padding: 0.5rem 0.5rem;
}

nav ul li:hover {
  background-color: #d0dff0;
}

nav img {
  display: none;
}

nav input {
  display: none;
}

div.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  background-color: #bae4e0;
}

div.welcome p {
  font-size: 40px;
  font-weight: bolder;
}

div.allpicture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.allpicture div.picup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.allpicture div.picup div.middle {
  width: 1200px;
  height: 1rem;
}

div.allpicture div.picup div.pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.allpicture div.picup div.pic img {
  width: 270px;
  height: 210px;
}

div.allpicture div.picup div.pic p {
  background-color: #bae4e0;
  width: 270px;
  height: 60px;
  text-align: center;
  padding: 0.3rem 0;
}

div.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.button button {
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1200px) {
  div.allpicture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.allpicture div.picup {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.allpicture div.picup div.pic {
    width: 43vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  div.allpicture div.picup div.pic img {
    width: 43vw;
    height: 30vw;
  }
  div.allpicture div.picup div.pic p {
    width: 43vw;
    padding: 0.3rem 0;
  }
}

@media screen and (max-width: 600px) {
  nav img {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  nav ul {
    display: none;
    position: absolute;
    top: 48px;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #bad0e4;
  }
  nav ul li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid white;
  }
  nav ul li a {
    padding: 4.5vw 100vw;
  }
  nav input:checked ~ ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.welcome {
    clear: both;
  }
  div.allpicture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.allpicture div.picup {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  div.allpicture div.picup div.pic {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  div.allpicture div.picup div.pic img {
    width: 90vw;
    height: 60vw;
  }
  div.allpicture div.picup div.pic p {
    width: 90vw;
    padding: 0.3rem 0;
  }
}
/*# sourceMappingURL=style.css.map */